@model IEnumerable<AdminUserViewModel>
@{
    ViewData["Title"] = "Index";

    int count = 0;
}

<div class="text-center">
    <br />
    <a asp-area="Admin" asp-controller="Payouts" asp-action="Index" class="btn btn-light btn-lg">Плащания</a>
    <br />
    <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Имейл</th>
            <th>Създадени</th>
            <th>Закупени</th>
            <th>Продажби</th>
            <th class="text-right">Печалба</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            {
                count++;
            }

            <tr>
                <td class="text-center">@count</td>
                <td>@user.Email</td>
                <td>@user.CreatedCourses.Count()</td>
                <td>@user.EnrolledCourses.Count()</td>
                <td>@user.Sales</td>
                <td class="text-right">&euro; @user.Profit</td>
                <td class="td-actions text-right">
                    <a type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm" asp-area="Admin" asp-controller="Courses" asp-action="CreatedCourses" asp-route-id="@user.Id">
                        <i class="fas fa-briefcase"></i>
                    </a>
                    <a type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm" asp-area="Admin" asp-controller="Courses" asp-action="EnrolledCourses" asp-route-id="@user.Id">
                        <i class="fas fa-graduation-cap"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

