@model IEnumerable<CourseEnrolledViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="text-center">Моите курсове</h1>
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-md-4">
                <figure class="card card-coin card-plain">
                    <div class="img-wrap">
                        <a href="@Url.Action("Index", "Lectures", new { id=course.Id})">
                            <img src="@course.Image" style="width:348px;height:220px;">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4 class="text-uppercase">@course.Name</h4>
                                <h5>от @course.InstructorFullName</h5>
                                <hr class="line-primary">
                            </div>
                        </div>
                        <div class="row">
                            <ul class="list-group">
                                <li class="list-group-item">@course.Category</li>
                                <li class="list-group-item">@course.Lectures.Count Лекции</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <vc:rating course-id="@course.Id"></vc:rating>
                        <a asp-controller="Lectures" asp-action="Index" asp-route-id="@course.Id" class="btn btn-sm btn-outline-info">Виж лекциите</a>
                    </div>
                </figure>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/rating.js"></script>
}
