@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "Category";
}

<div class="container">

    @if (Model.Count() == 0)
    {
        <div class="card text-center">
            <div class="card-header">
                <h1>Все още няма курсове :(</h1>
            </div>
            <div class="card-body">
                <h2 class="card-title">Бъди първи и добави курс за  @this.ViewData["category"]</h2>
            </div>
            <div class="card-footer text-muted">
                <a asp-area="" asp-controller="Instructors" asp-action="Index" asp- class="btn btn-info">Започни сега</a>

            </div>
        </div>
    }

    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-md-4">
                <figure class="card card-coin card-plain">
                    <div class="img-wrap">
                        <a asp-area="" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
                            <img src="@course.Image" style="width:348px;height:220px;">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                @if (course.Name.Length > 29)
                                {
                                    <h4 class="text-uppercase" rel="tooltip" title="@course.Name">@course.ShortName</h4>
                                }
                                else
                                {
                                    <h4 class="text-uppercase">@course.Name</h4>
                                }
                                <span>от @course.InstructorFullName</span>
                                <hr class="line-primary">
                            </div>
                        </div>

                        <div class="row">
                            <ul class="list-group">
                                <li class="list-group-item">@course.Category</li>
                                <li class="list-group-item">@course.Lectures.Count Лекции</li>
                                <li class="list-group-item">@course.Orders Записани</li>
                                <li class="list-group-item text-danger">&euro; @course.Price</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer text-left">
                        <vc:five-stars course-id="@course.Id"></vc:five-stars>
                    </div>
                </figure>
            </div>
        }
    </div>
</div>