@model CategoryViewModel
@{
    ViewData["Title"] = "Category";
}

<div class="container">
    @if (Model.Courses.Count() == 0)
    {
        <div class="card text-center">
            <div class="card-header">
                <h1>Все още няма курсове :(</h1>
            </div>
            <div class="card-body">
                <h2 class="card-title">Бъди първи и добави курс за  @this.ViewData["category"]</h2>
            </div>
            <div class="card-footer text-muted">
                <a asp-area="" asp-controller="Instructors" asp-action="Index" asp- class="btn btn-info">Започни сега</a>

            </div>
        </div>
    }
</div>

<partial name="_CoursesPartial" model="Model.Courses" />

@if (Model.Courses.Count() > 0)
{
    <nav>
        <ul class="pagination justify-content-center">
            @if (this.Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Назад</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-route="coursesCategory"
                       asp-route-name="@this.Model.Name"
                       asp-route-page="@(this.Model.CurrentPage - 1)">Назад</a>
                </li>
            }

            @for (int i = 1; i <= this.Model.PagesCount; i++)
            {
                var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="page-link"
                       asp-route="coursesCategory"
                       asp-route-name="@this.Model.Name"
                       asp-route-page="@i">@i</a>
                </li>
            }

            @if (this.Model.CurrentPage == this.Model.PagesCount)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Напред</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-route="coursesCategory"
                       asp-route-name="@this.Model.Name"
                       asp-route-page="@(this.Model.CurrentPage + 1)">Напред</a>
                </li>
            }
        </ul>
    </nav>
}