@model CreateCourseBindingModel
@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center">
    <form enctype="multipart/form-data" asp-controller="Courses" asp-action="Create" method="post" class="form-horizontal">
        <h4 class="text-center">Създай нов курс</h4>
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="Name"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="@Model.Description"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="@Model.Description" />
                <span class="text-danger" asp-validation-for="@Model.Description"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="@Model.Skills"></label>
            <span class="control-label col-sm-2"><small class="text-primary">Всяко ново умение трябва да започва със *</small></span>
            <div class="col-sm-10">
                <input class="form-control" asp-for="@Model.Skills" placeholder="Пример: *Работа с текст *Използване на масиви и листове" />
                <span class="text-danger" asp-validation-for="@Model.Skills"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" asp-for="Price"></label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="Price" />
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="col-sm-2"></label>
            <div class="col-sm-10">
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control text-body"></select>
                <span asp-validation-for="Category"></span>
            </div>
        </div>
        <div class="uploadOuter">
            <label for="uploadFile" class="btn btn-primary">Качи изображение до 20 MБ</label>
            <strong>ИЛИ</strong>
            <span class="dragBox">
                Постави тук
                <input type="file" asp-for="@Model.Image" onChange="dragNdrop(event)" ondragover="drag()" ondrop="drop()" id="uploadFile" />
            </span>
        </div>
        <span class=" col-sm-2 text-danger" asp-validation-for="@Model.Image"></span>
        <div id="preview"></div>
        <hr />
        <div class="form-group">
            <div class="col-sm-10 col-sm-push-2">
                <input type="submit" value="Добави" class="btn btn-info" />
                <a asp-controller="Instructors" asp-action="Index" class="btn btn-danger">Назад</a>
            </div>
        </div>
    </form>
</div>

<script>
    function dragNdrop(event) {
        var fileName = URL.createObjectURL(event.target.files[0]);
        var preview = document.getElementById("preview");
        var previewImg = document.createElement("img");
        previewImg.setAttribute("src", fileName);
        previewImg.setAttribute("style", "width: 348px; height: 220px;");
        preview.innerHTML = "";
        preview.appendChild(previewImg);
    }
    function drag() {
        document.getElementById('uploadFile').parentNode.className = 'draging dragBox';
    }
    function drop() {
        document.getElementById('uploadFile').parentNode.className = 'dragBox';
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}