@model CreateCourseBindingModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <form enctype="multipart/form-data" asp-controller="Courses" asp-action="Create" method="post" class="form-horizontal">
        <div class="col-lg-7 col-md-8 mx-auto">
            <h4 class="text-center">Създай нов курс</h4>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description"></label>
                <input class="form-control" asp-for="@Model.Description" />
                <span class="text-danger" asp-validation-for="@Model.Description"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="@Model.Skills"></label>
                    <input type="hidden" class="form-control" asp-for="@Model.Skills" id="inputSkills" />
                    <input class="form-control" id="skills" placeholder="Въведете умение и натиснете TAB"/>

                    <div id="span-filed"></div>

                    <span class="text-danger" asp-validation-for="@Model.Skills"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input type="number" class="form-control" asp-for="Price" />
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="col-sm-2"></label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control text-body"></select>
                <span asp-validation-for="Category"></span>
            </div>
        </div>
        <div class="uploadOuter">
            <label for="uploadFile" class="btn btn-primary">Качи изображение до 20 MБ</label>
            <strong>ИЛИ</strong>
            <span class="dragBox">
                Постави тук
                <input type="file" asp-for="@Model.Image" onChange="dragNdrop(event)" ondragover="drag()" ondrop="drop()" id="uploadFile" />
            </span>
        </div>
        <div class="col-lg-7 col-md-8 mx-auto">
            <span class=" col-sm-2 text-danger" asp-validation-for="@Model.Image"></span>
        </div>
        <div id="preview"></div>
        <hr />
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Добави" class="btn btn-info" />
                <a asp-controller="Instructors" asp-action="Index" class="btn btn-danger">Назад</a>
            </div>
        </div>
    </form>
</div>

<script>
    function dragNdrop(event) {
        var fileName = URL.createObjectURL(event.target.files[0]);
        var preview = document.getElementById("preview");
        var previewImg = document.createElement("img");
        previewImg.setAttribute("src", fileName);
        previewImg.setAttribute("style", "width: 348px; height: 220px;");
        preview.innerHTML = "";
        preview.appendChild(previewImg);
    }
    function drag() {
        document.getElementById('uploadFile').parentNode.className = 'draging dragBox';
    }
    function drop() {
        document.getElementById('uploadFile').parentNode.className = 'dragBox';
    }
</script>

<script>
    const spanFiled = document.getElementById('span-filed');

    document.getElementById('skills').addEventListener('focusout', function (e) {
        if (e.target.value !== '') {
            e.preventDefault();
            const input = document.getElementById('inputSkills');
            const skill = document.getElementById('skills');
            const span = document.createElement('span');

            span.setAttribute('class', 'badge badge-success');
            span.textContent = skill.value;
            span.style.margin = '2px';

            input.value += `${skill.value}*`;
            skill.value = '';
            spanFiled.appendChild(span);
        }
    })


    spanFiled.addEventListener('click', function (e) {
        const skills = document.getElementById('inputSkills').value.split('*');
        const index = skills.indexOf(e.target.textContent);
        if (index > -1) {
            skills.splice(index, 1);
            document.getElementById('inputSkills').value = skills.join('*');

            const span = spanFiled.children[index];
            spanFiled.removeChild(span);
        }
    })
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}