@model CourseDetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="container">
    <h1 class="my-4">
        @Model.Name
        <small>
            <span class="text-warning">$@Model.Price</span>
        </small>
    </h1>
    <div class="row">
        <div class="col-md-8 table-responsive-xl">
            <iframe src="https://player.cloudinary.com/embed/?cloud_name=demo&public_id=sea_turtle&fluid=true&controls=true&muted=false&autoplay=false&autoplay_on_scroll=false&source_types%5B0%5D=mp4"
                    width="640"
                    height="480"
                    allowfullscreen
                    frameborder="0">
            </iframe>
        </div>
        <div class="col-md-4">
            <h3 class="my-3">Description</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">Lectures</h3>
            <ul>
                @foreach (var lectureName in Model.LectureName)
                {
                    <li>@lectureName</li>
                }
            </ul>
            <div class="text-lg-center">
                <a asp-controller="Payments" asp-action="Index" asp-route-id="@Model.Id" id="loading" class="btn btn-warning">Buy</a>
            </div>
        </div>
    </div>
    <br />

    <div class="card card-nav-tabs text-center">
        <div class="card-body">
            <h1 class="display-4 text-center">What you'll learn</h1>
            @foreach (var skills in Model.Skills)
            {
                <p><i class="fas fa-check"></i> @skills</p>
            }
        </div>
    </div>
</div>

<div id="overlay" style="display: none;">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

@*Spinner Loading*@
<script>
    jQuery(function ($) {
        $(document).ajaxSend(function () {
            $("#overlay").fadeIn(300);
        });

        $('#loading').click(function () {
            $.ajax({
                type: 'GET',
                success: function (data) {
                    console.log(data);
                }
            }).
                done(function () {
                    setTimeout(function () {
                        $("#overlay").fadeOut(300000);
                    }, 500000);
                });
        });
    });
</script>