@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "MyCourses";
}

<h1 class="text-center">My Enrolled Courses</h1>


<br />

<div class="container">
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="@course.Image" style="width:348px;height:220px;"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title">@course.Name</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">by @course.InstructorFullName</li>
                            <li class="list-group-item">@course.Category</li>
                            <li class="list-group-item">Lectures 0</li>
                        </ul>
                    </figcaption>
                    <div class="text-center">
                        <a asp-controller="" asp-action="" asp-route-id="@course.Id" class="btn btn-sm btn-outline-info">View Lectures</a>
                    </div>
                </figure>
            </div>
        }
    </div>
</div>
