@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="wrapper">
    <div class="section">
        <div class="row justify-content-center">
            <div class="text-center">
                <h1 class="text-white font-weight-light">Оформете бъдещето на обучението си при нас</h1>
                <p class="text-white mt-4">Вземете най-новите умения във водещите индустрии с курсове, ръководени от експерти</p>
                @if (!this.User.Identity.IsAuthenticated)
                {
                    <a href="/Identity/Account/Register" class="btn btn-warning mt-4">Започни сега</a>
                }
            </div>
        </div>
    </div>
</div>

<vc:home-all-info></vc:home-all-info>
<div>
    <div class="container">
        <div class="row">
            @foreach (var course in Model)
            {
                <div class="col-md-4">
                    <figure class="card card-coin card-plain">
                        <a asp-area="" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
                            <div class="img-wrap">
                                <img src="@course.Image" style="width:348px;height:220px;">
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        @if (course.Name.Length > 29)
                                        {
                                            <h4 class="text-uppercase" rel="tooltip" title="@course.Name">@course.ShortName</h4>
                                        }
                                        else
                                        {
                                            <h4 class="text-uppercase">@course.Name</h4>
                                        }
                                        <h5>от @course.InstructorFullName</h5>
                                        <hr class="line-primary">
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="list-group">
                                        <li class="list-group-item">@Html.DisplayFor(e => course.Category)</li>
                                        <li class="list-group-item">@course.Lectures.Count Лекции</li>
                                        <li class="list-group-item">@course.Orders Записани</li>
                                        <li class="list-group-item text-danger">&euro; @course.Price</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer text-left">
                            <vc:five-stars course-id="@course.Id"></vc:five-stars>
                        </div>
                    </figure>
                </div>
            }
        </div>
    </div>
</div>

