@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/index.css" rel="stylesheet">
</head>


<header class="masthead text-white">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Shape the future of learning with us</h1>
            </div>
        </div>
    </div>
</header>
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="far fa-user mx-auto text-primary"></i>
                    </div>
                    <h3>Students</h3>
                    <p class="lead mb-0">Get the latest skills in leading industries with on-demand, expert-led courses</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="far fa-life-ring m-auto text-primary"></i>
                    </div>
                    <h3>Instructors</h3>
                    <p class="lead mb-0">Insights, ideas, and stories</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="far fa-lightbulb m-auto text-primary"></i>
                    </div>
                    <h3>Start now</h3>
                    <p class="lead mb-0">Your Knowledge and Improve the Skills You’ve Learned With CoursesP2P!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<div class="container">
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <a href="@Url.Action("Details", "Courses", new { id=course.Id})">
                            <img src="@course.Image" style="width:348px;height:220px;">
                        </a>
                    </div>
                    <figcaption class="info-wrap">
                        <h4 class="title">@course.Name</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">by @course.InstructorFullName</li>
                            <li class="list-group-item">@course.Category</li>
                            <li class="list-group-item">Lectures @course.Lectures.Count</li>
                        </ul>
                        <div class="rating-wrap">
                            <div class="label-rating">0 reviews</div>
                            <div class="label-rating">@course.Orders orders </div>
                        </div>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id" class="btn btn-sm btn-outline-info float-right">Details</a>
                        <a asp-controller="Courses" asp-action="Add" asp-route-id="@course.Id" class="btn btn-sm btn-outline-danger float-right">Order Now</a>
                        <div class="price-wrap h5">
                            <span class="price-new">$@course.Price</span>
                        </div>
                    </div>
                </figure>
            </div>
        }
    </div>
</div>