@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div class="section">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0 ">
                    <h1 class="text-white font-weight-light">Shape the future of learning with us</h1>
                    <p class="text-white mt-4">Get the latest skills in leading industries with on-demand, expert-led courses</p>
                    @if (!this.User.Identity.IsAuthenticated)
                    {
                        <a href="/Identity/Account/Register" class="btn btn-warning mt-4">Start Now</a>
                    }
                </div>
                <div class="col-lg-6">
                    <div id="carouselExampleControls" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="~/background/YouAreYourOnlyLimit.jpg" style="width:540px;height:360px;" alt="First slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <i class="tim-icons icon-minimal-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <i class="tim-icons icon-minimal-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<vc:home-all-info></vc:home-all-info>
<div>
    <h1 class="text-center">New Courses</h1>
    @*<img src="../assets/img/path3.png" class="path">*@
    <div class="container">
        <div class="row">
            @foreach (var course in Model)
            {
                <div class="col-md-4">
                    <figure class="card card-coin card-plain">
                        <div class="img-wrap">
                            <a href="@Url.Action("Details", "Courses", new { id=course.Id})">
                                <img src="@course.Image" style="width:348px;height:220px;">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4 class="text-uppercase">@course.Name</h4>
                                    <h5>by @course.InstructorFullName</h5>
                                    <hr class="line-primary">
                                </div>
                            </div>
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item">@course.Category</li>
                                    <li class="list-group-item">@course.Lectures.Count Lectures</li>
                                    <li class="list-group-item">@course.Orders Orders</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id" class="btn btn-success btn-sm btn-simple float-right">Details</a>
                            <a asp-controller="Payments" asp-action="Index" asp-route-id="@course.Id" class="btn btn-warning btn-sm btn-simple float-right">Buy</a>
                            <h3>$@course.Price</h3>
                        </div>
                    </figure>
                </div>
            }
        </div>
    </div>
</div>





