@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Learn your way up</h1>
            <p class="lead">Get the latest skills in leading industries with on-demand, expert-led courses</p>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <a href="@Url.Action("Details", "Courses", new { id=course.Id})">
                            <img src="@course.Image" style="width:348px;height:220px;">
                        </a>
                    </div>
                    <figcaption class="info-wrap">
                        <h4 class="title">@course.Name</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">by @course.InstructorFullName</li>
                            <li class="list-group-item">@course.Category</li>
                            <li class="list-group-item">Lectures @course.Lectures.Count</li>
                        </ul>
                        <div class="rating-wrap">
                            <div class="label-rating">0 reviews</div>
                            <div class="label-rating">@course.Orders orders </div>
                        </div>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id" class="btn btn-sm btn-outline-info float-right">Details</a>
                        <a asp-controller="Courses" asp-action="Add" asp-route-id="@course.Id" class="btn btn-sm btn-outline-danger float-right">Order Now</a>
                        <div class="price-wrap h5">
                            <span class="price-new">$@course.Price</span>
                        </div>
                    </div>
                </figure>
            </div>
        }
    </div>
</div>