@model List<CourseViewModel>
@{
    ViewData["Title"] = "Search";
}

    <div class="container">
        <div class="row">
            @foreach (var course in Model)
            {
                <div class="col-md-4">
                    <figure class="card card-coin card-plain">
                        <div class="img-wrap">
                            <a href="@Url.Action("Details", "Courses", new { id=course.Id})">
                                <img src="@course.Image" style="width:348px;height:220px;">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    @if (course.Name.Length > 29)
                                    {
                                        <h4 class="text-uppercase" rel="tooltip" title="@course.Name">@course.ShortName</h4>
                                    }
                                    else
                                    {
                                        <h4 class="text-uppercase">@course.Name</h4>
                                    }
                                    <span>от @course.InstructorFullName</span>
                                    <hr class="line-primary">
                                </div>
                            </div>

                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item">@Html.DisplayFor(e => course.Category)</li>
                                    <li class="list-group-item">@course.Lectures.Count Лекции</li>
                                    <li class="list-group-item">@course.Orders Записани</li>
                                    <li class="list-group-item text-danger">&euro; @course.Price</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer text-left">
                            <vc:five-stars course-id="@course.Id"></vc:five-stars>
                            @*<a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id" class="btn btn-success btn-sm btn-simple">Details</a>*@
                        </div>
                    </figure>
                </div>
            }
        </div>
    </div>

