@model EditLectureBindingModel

<link href="//amp.azure.net/libs/amp/2.3.4/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
<script src="//amp.azure.net/libs/amp/2.3.4/azuremediaplayer.min.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="alert" role="alert"></div>

<div class="container">
    <h1 class="text-center">Редактирай Лекция</h1>
    <div class="row">
        <div class="col-sm">
            <video id="azuremediaplayer" class="azuremediaplayer amp-default-skin amp-big-play-centered embed-responsive" tabindex="0"></video>
        </div>
        <div class="col-md-4 text-center">
            <div class="card">

                <div class="d-flex justify-content-center">
                    <div class="form-horizontal">
                        <input type="hidden" asp-for="@Model.Id" id="lectureId" />
                        <input type="hidden" asp-for="@Model.Asset" id="assetId" />
                        <input type="hidden" asp-for="@Model.Video" id="videoId" />
                        <div class="form-group">
                            <label class="control-label col-sm-2">Име</label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="Name" id="nameId" />
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="uploadOuter">
                            <label for="uploadFile" class="btn btn-primary">Качи ново видео до 1 ГБ</label>
                            <strong>ИЛИ</strong>
                            <span class="dragBox">
                                Постави тук
                                <input asp-for="@Model.VideoUpload" type="file" id="uploadFile" />
                            </span>
                        </div>
                        <span class=" col-sm-2 text-danger" asp-validation-for="@Model.VideoUpload"></span>
                        <div id="vName" class="col-sm-10">
                            <label class="text-success" id="label"></label>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-push-2 text-center">
                                <input type="submit" value="Редактирай" id="saveId" class="btn btn-warning btn-sm" />
                                <a asp-controller="Instructors" asp-action="Index" class="btn btn-info btn-sm">Назад</a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var myOptions = {
        "nativeControlsForTouch": false,
        "logo": { "enabled": false },
        controls: true,
        autoplay: false,
        width: "640",
        height: "400",
    }
    myPlayer = amp("azuremediaplayer", myOptions);
    myPlayer.src([
        {
            "src": "@Model.Video",
            "type": "application/vnd.ms-sstr+xml"
        }
    ]);
</script>

<script>
    $('#uploadFile').on('change', function () {
        let file_path = document.getElementById('uploadFile').value;
        let file_name = file_path.split(/(\\|\/)/g).pop();

        let label = document.getElementById("label");
        label.textContent = file_name;
    });
</script>

<script>
    document.getElementById('saveId').addEventListener('click', function (e) {
        const alertDiv = document.getElementById("alert");
        const data = document.getElementById('uploadFile').files[0];
        const name = document.getElementById('nameId').value;

        function successfully() {
            document.getElementById('uploadFile').value = '';
            document.querySelector('.loader').style.display = 'none'
            alertDiv.setAttribute("class", "alert alert-success");
            alertDiv.textContent = `Успешно редактирахте лекция`;
            document.querySelectorAll('.form-group')[0].style.display = 'block';
            document.querySelectorAll('.form-group')[1].style.display = 'block';
            document.querySelector('.uploadOuter').style.display = 'block';

            setTimeout(() => {
                alertDiv.setAttribute("class", "text-center");
                alertDiv.textContent = '';
            }, 5000)
        }

        function invalidAdd(message) {
            alertDiv.setAttribute("class", "alert alert-danger");
            alertDiv.innerHTML = message;
            $("#uploadFile").val("");
            $("#label").text("");
        }

        const formData = new FormData();
        formData.append("VideoUpload", data);
        formData.append("id", $("#lectureId").val());
        formData.append("Name", $("#nameId").val());
        formData.append("Asset", $("#assetId").val());
        formData.append("Video", $("#videoId").val());

        if (name.length > 0) {
            document.querySelector('.loader').style.display = 'block'

            alertDiv.setAttribute("class", "alert alert-info");
            alertDiv.textContent = `Моля, изчакайте това ще отнеме 10-15 минути`;
            $("#label").text("");
            document.querySelectorAll('.form-group')[0].style.display = 'none';
            document.querySelectorAll('.form-group')[1].style.display = 'none';
            document.querySelector('.uploadOuter').style.display = 'none';

            fetch('/Lectures/Edit', {
                method: 'POST',
                body: formData
            }).then(r => r.json())
                .then(result => {
                    if (result === 'Valid') {
                        successfully();
                        location.reload();
                    } else {
                        alertDiv.setAttribute("class", "alert alert-danger");
                        alertDiv.innerHTML = 'Неуспешно добавяне!';
                    }
                }).catch((e) => {
                    successfully();
                    location.reload();
                });

        } else if (data === undefined) {
            invalidAdd('Не сте добавили видео');
        } else if (data.size > 1200000000) {
            invalidAdd('Видеото трябва да е до 1 гигабайт!');
        } else if (name === '') {
            invalidAdd('Полето име е задължително');
        } else {
            invalidAdd('Невалидни Данни!');
        }

    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}