@model CourseEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1 class="text-center">Редактирай Курс или Лекция</h1>
    <br />
    <br />

    <div class="row">
        <div class="col-md-4">
            <figure class="card card-coin card-plain">
                <form enctype="multipart/form-data" asp-controller="Instructors" asp-action="Edit" method="post">
                    <div class="img-wrap"><img src="@Model.Image" id="oldImage" style="width:348px;height:220px;"></div>
                    <input class="form-control" type="hidden" asp-for="@Model.Image" />
                    <div class="card-body">
                        <div class="uploadOuter">
                            <label for="uploadFile" class="btn btn-primary">Качи ново изображение до 20 MБ</label>
                            <span class="dragBox">
                                Или постави тук
                                <input class="form-control" type="file" asp-for="@Model.ImageUpload" onChange="dragNdrop(event)" ondragover="drag()" ondrop="drop()" id="uploadFile" />
                            </span>
                            <span class="text-danger" asp-validation-for="@Model.ImageUpload"></span>
                        </div>
                        <h5 class="text-uppercase text-center">Име</h5>
                        <hr class="line-primary">
                        <input class="form-control" asp-for="@Model.Name" />
                        <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        <br />
                        <h5 class="text-uppercase text-center">Описание</h5>
                        <hr class="line-primary">
                        <input class="form-control" asp-for="@Model.Description" />
                        <span class="text-danger" asp-validation-for="@Model.Description"></span>
                        <br />
                        <h5 class="text-uppercase text-center">Умения</h5>
                        <hr class="line-primary">
                        <input class="form-control" asp-for="@Model.Skills" />
                        <span class="text-danger" asp-validation-for="@Model.Skills"></span>
                        <br />
                        <h5 class="text-uppercase text-center">Цена</h5>
                        <hr class="line-primary">
                        <input class="form-control" asp-for="@Model.Price" />
                        <span class="text-danger" asp-validation-for="@Model.Price"></span>

                        <br />
                        <h5 class="text-uppercase text-center">Категория</h5>
                        <hr class="line-primary">
                        <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control text-body"></select>
                        <br />

                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-push-2">
                            <input type="submit" value="Редактирай" class="btn btn-sm btn-warning" />
                            <a asp-controller="Instructors" asp-action="Index" class="btn btn-sm btn-info">Назад</a>
                        </div>
                    </div>
                </form>
            </figure>
        </div>

        @* TODO *@
        <div class="col-12 col-sm-6 col-md-8">
            <div class="list-group">
                @foreach (var lectures in Model.Lectures)
                {
                    <a asp-area="" asp-controller="Lectures" asp-action="VideoEdit" asp-route-id="@lectures.Id" 
                       class="list-group-item list-group-item-action text-center">@lectures.Name</a>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function dragNdrop(event) {
        var fileName = URL.createObjectURL(event.target.files[0]);
        var old = document.getElementById("oldImage");
        old.setAttribute("src", fileName);

    }
    function drag() {
        document.getElementById('uploadFile').parentNode.className = 'draging dragBox';
    }
    function drop() {
        document.getElementById('uploadFile').parentNode.className = 'dragBox';
    }
</script>