@model CourseAndDashbordViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="text-center">
        <h1 class="text-center">My Created Courses</h1>
        <br />
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="tim-icons icon-check-2 text-info"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Courses</p>
                                <p class="card-title">@Model.CreatedCourses
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="tim-icons icon-cart text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Enrollments</p>
                                <p class="card-title">@Model.EnrolledCourses
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="tim-icons icon-money-coins text-success"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Total profit</p>
                                <p class="card-title">$ @Model.Profit
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-center">
            <br />
            <a asp-controller="Courses" asp-action="Create" class="btn btn-success btn-lg">Create new course</a>
            <br />
            <br />
        </div>
        <div class="row">
            @foreach (var course in Model.Courses)
            {
                <div class="col-md-4">
                    <figure class="card card-coin card-plain">
                        <div class="img-wrap">
                            <a href="@Url.Action("Edit", "Instructors", new { id=course.Id})">
                                <img src="@course.Image" style="width:348px;height:220px;">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4 class="text-uppercase">@course.Name</h4>
                                    <hr class="line-primary">
                                </div>
                            </div>
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item">@course.Category</li>
                                    <li class="list-group-item">Lectures @course.Lectures.Count</li>
                                    <li class="list-group-item">@course.Orders orders </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Lectures" asp-action="Add" asp-route-id="@course.Id" class="btn btn-primary btn-sm">Add Lecture</a>
                        </div>

                    </figure>
                </div>
            }
        </div>
    </div>
</div>
